lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules/**/*
node_modules/*.*

.idea/*.*
.idea/**/*

gitvis.iml
gitvis.ipr
gitvis.iws

cachedRepos/**/*
cachedRepos/*.*
cachedRepos/*
