body {
	font-size: 1.2em;
}

.l-centered {
	text-align: center;
}

.mainHead {
	font-size: 5em;
}

.high {
	position: relative;
	z-index: 2;
}

.repos {
	width: 20em;
	margin: auto;

	.repoTable {
		width: 20em;
	}

	.addRepoForm {
		margin-top:1em;

		input {
			width: 15em;
		}
	}
}

table tbody tr:hover {
	background-color: #eee;
	cursor: pointer;
}

h2 {
	font-weight: 300;
	margin: 0;
	color: #ccc;
}

.chart {
	display:block;
	width: 400px;
	margin: 0 auto;
}

.wideChart {
	display:block;
	width: 1000px;
}

.stackChart svg {
	width: 1700px;
	height: 300px;
}

.heatMap svg {
	width: 960px;
	height: 140px;
	margin: 0 auto;
}

.fileTree {
	svg {
		width: 2800px;
		height: 2800px;
		margin: 0 auto;
		position: relative;
		z-index: 0;
		top:-600px;
	}

	circle.node {
		cursor: pointer;
		stroke: #000;
		stroke-width: .5px;
	}

	circle.node.directory {
		stroke: #9ecae1;
		stroke-width: 2px;
	}

	circle.node.collapsed {
		stroke: #555;
	}

	.nodetext {
		fill: #252929;
		font-size: 2em;
		font-weight: bold;
		text-shadow: 0 0 0.2em white;
	}

	line.link {
		fill: none;
		stroke: #9ecae1;
		stroke-width: 1.5px;
	}

}

.animate-enter,
.animate-leave
{
	-webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.animate-enter {
	left: 100%;
}
.animate-enter.animate-enter-active {
	left: 0;
}

.animate-leave {
	left: 0;
}
.animate-leave.animate-leave-active{
	left: -100%;
}

.switch{
	position: relative;
}

body {
	overflow: hidden;
}

.day {
	fill: #fff;
	stroke: #ccc;
}

.month {
	fill: none;
	stroke: #000;
	stroke-width: 2px;
}

.RdYlGn .q0-9{fill:rgb(236, 231, 242)}
.RdYlGn .q1-9{fill:rgb(208, 209, 230)}
.RdYlGn .q2-9{fill:rgb(166, 189, 219)}
.RdYlGn .q3-9{fill:rgb(116, 169, 207)}
.RdYlGn .q4-9{fill:rgb(54, 144, 192)}
.RdYlGn .q5-9{fill:rgb(5, 112, 176)}
.RdYlGn .q6-9{fill:rgb(4, 90, 141)}
.RdYlGn .q7-9{fill:rgb(2, 56, 88)}

