body {
  font-size: 1.2em;
}
.l-centered {
  text-align: center;
}
.mainHead {
  font-size: 5em;
}
.repos {
  width: 20em;
  margin: auto;
}
.repos .repoTable {
  width: 20em;
}
.repos .addRepoForm {
  margin-top: 1em;
}
.repos .addRepoForm input {
  width: 15em;
}
table tbody tr:hover {
  background-color: #eee;
  cursor: pointer;
}
h2 {
  font-weight: 300;
  margin: 0;
  color: #ccc;
}
.chart {
  display: block;
  width: 400px;
  margin: 0 auto;
}
.wideChart {
  display: block;
  width: 800px;
}
