.l-centered {
    text-align: center;
}

.mainHead {
    font-size: 5em;
}

.repos {
    width: 20em;
    margin: auto;

    .repoTable {
        width: 20em;
    }    

    .addRepoForm {
        margin-top:1em;
    }
}

table tbody tr:hover {
    background-color: #eee;
    cursor: pointer;
}
